body {
  background-color: #444;
}

/* ========== Keroseen grids ========== */
.keroseen-grid:before, .keroseen-grid:after {
  content: " ";
  display: table;
}
.keroseen-grid:after {
  clear: both;
}
.keroseen-grid .row:before, .keroseen-grid .row:after {
  content: " ";
  display: table;
}
.keroseen-grid .row:after {
  clear: both;
}
.keroseen-grid .row.spacer {
  margin-bottom: 1em;
}
.keroseen-grid .col {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1%;
  float: left;
}
.keroseen-grid .col:first-child {
  margin-left: 0;
}
.keroseen-grid.grid-12 .large-1 {
  width: 7.41667%;
}
.keroseen-grid.grid-12 .push-1 {
  margin-right: 92.58333%;
}
.keroseen-grid.grid-12 .pull-1 {
  margin-right: 0;
  margin-left: 92.58333%;
}
.keroseen-grid.grid-12 .large-2 {
  width: 15.83333%;
}
.keroseen-grid.grid-12 .push-2 {
  margin-right: 84.16667%;
}
.keroseen-grid.grid-12 .pull-2 {
  margin-right: 0;
  margin-left: 84.16667%;
}
.keroseen-grid.grid-12 .large-3 {
  width: 24.25%;
}
.keroseen-grid.grid-12 .push-3 {
  margin-right: 75.75%;
}
.keroseen-grid.grid-12 .pull-3 {
  margin-right: 0;
  margin-left: 75.75%;
}
.keroseen-grid.grid-12 .large-4 {
  width: 32.66667%;
}
.keroseen-grid.grid-12 .push-4 {
  margin-right: 67.33333%;
}
.keroseen-grid.grid-12 .pull-4 {
  margin-right: 0;
  margin-left: 67.33333%;
}
.keroseen-grid.grid-12 .large-5 {
  width: 41.08333%;
}
.keroseen-grid.grid-12 .push-5 {
  margin-right: 58.91667%;
}
.keroseen-grid.grid-12 .pull-5 {
  margin-right: 0;
  margin-left: 58.91667%;
}
.keroseen-grid.grid-12 .large-6 {
  width: 49.5%;
}
.keroseen-grid.grid-12 .push-6 {
  margin-right: 50.5%;
}
.keroseen-grid.grid-12 .pull-6 {
  margin-right: 0;
  margin-left: 50.5%;
}
.keroseen-grid.grid-12 .large-7 {
  width: 57.91667%;
}
.keroseen-grid.grid-12 .push-7 {
  margin-right: 42.08333%;
}
.keroseen-grid.grid-12 .pull-7 {
  margin-right: 0;
  margin-left: 42.08333%;
}
.keroseen-grid.grid-12 .large-8 {
  width: 66.33333%;
}
.keroseen-grid.grid-12 .push-8 {
  margin-right: 33.66667%;
}
.keroseen-grid.grid-12 .pull-8 {
  margin-right: 0;
  margin-left: 33.66667%;
}
.keroseen-grid.grid-12 .large-9 {
  width: 74.75%;
}
.keroseen-grid.grid-12 .push-9 {
  margin-right: 25.25%;
}
.keroseen-grid.grid-12 .pull-9 {
  margin-right: 0;
  margin-left: 25.25%;
}
.keroseen-grid.grid-12 .large-10 {
  width: 83.16667%;
}
.keroseen-grid.grid-12 .push-10 {
  margin-right: 16.83333%;
}
.keroseen-grid.grid-12 .pull-10 {
  margin-right: 0;
  margin-left: 16.83333%;
}
.keroseen-grid.grid-12 .large-11 {
  width: 91.58333%;
}
.keroseen-grid.grid-12 .push-11 {
  margin-right: 8.41667%;
}
.keroseen-grid.grid-12 .pull-11 {
  margin-right: 0;
  margin-left: 8.41667%;
}
.keroseen-grid.grid-12 .large-12 {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .keroseen-grid.grid-12 .middle-1 {
    width: 7.41667%;
  }
  .keroseen-grid.grid-12 .middle-2 {
    width: 15.83333%;
  }
  .keroseen-grid.grid-12 .middle-3 {
    width: 24.25%;
  }
  .keroseen-grid.grid-12 .middle-4 {
    width: 32.66667%;
  }
  .keroseen-grid.grid-12 .middle-5 {
    width: 41.08333%;
  }
  .keroseen-grid.grid-12 .middle-6 {
    width: 49.5%;
  }
  .keroseen-grid.grid-12 .middle-7 {
    width: 57.91667%;
  }
  .keroseen-grid.grid-12 .middle-8 {
    width: 66.33333%;
  }
  .keroseen-grid.grid-12 .middle-9 {
    width: 74.75%;
  }
  .keroseen-grid.grid-12 .middle-10 {
    width: 83.16667%;
  }
  .keroseen-grid.grid-12 .middle-11 {
    width: 91.58333%;
  }
  .keroseen-grid.grid-12 .middle-12 {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .keroseen-grid.grid-12 .md-portrait-1 {
    width: 7.41667%;
  }
  .keroseen-grid.grid-12 .md-portrait-2 {
    width: 15.83333%;
  }
  .keroseen-grid.grid-12 .md-portrait-3 {
    width: 24.25%;
  }
  .keroseen-grid.grid-12 .md-portrait-4 {
    width: 32.66667%;
  }
  .keroseen-grid.grid-12 .md-portrait-5 {
    width: 41.08333%;
  }
  .keroseen-grid.grid-12 .md-portrait-6 {
    width: 49.5%;
  }
  .keroseen-grid.grid-12 .md-portrait-7 {
    width: 57.91667%;
  }
  .keroseen-grid.grid-12 .md-portrait-8 {
    width: 66.33333%;
  }
  .keroseen-grid.grid-12 .md-portrait-9 {
    width: 74.75%;
  }
  .keroseen-grid.grid-12 .md-portrait-10 {
    width: 83.16667%;
  }
  .keroseen-grid.grid-12 .md-portrait-11 {
    width: 91.58333%;
  }
  .keroseen-grid.grid-12 .md-portrait-12 {
    width: 100%;
  }
}
@media screen and (max-width: 568px) {
  .keroseen-grid.grid-12 .small-1 {
    width: 7.41667%;
  }
  .keroseen-grid.grid-12 .small-2 {
    width: 15.83333%;
  }
  .keroseen-grid.grid-12 .small-3 {
    width: 24.25%;
  }
  .keroseen-grid.grid-12 .small-4 {
    width: 32.66667%;
  }
  .keroseen-grid.grid-12 .small-5 {
    width: 41.08333%;
  }
  .keroseen-grid.grid-12 .small-6 {
    width: 49.5%;
  }
  .keroseen-grid.grid-12 .small-7 {
    width: 57.91667%;
  }
  .keroseen-grid.grid-12 .small-8 {
    width: 66.33333%;
  }
  .keroseen-grid.grid-12 .small-9 {
    width: 74.75%;
  }
  .keroseen-grid.grid-12 .small-10 {
    width: 83.16667%;
  }
  .keroseen-grid.grid-12 .small-11 {
    width: 91.58333%;
  }
  .keroseen-grid.grid-12 .small-12 {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .keroseen-grid.grid-12 .sm-portrait-1 {
    width: 7.41667%;
  }
  .keroseen-grid.grid-12 .sm-portrait-2 {
    width: 15.83333%;
  }
  .keroseen-grid.grid-12 .sm-portrait-3 {
    width: 24.25%;
  }
  .keroseen-grid.grid-12 .sm-portrait-4 {
    width: 32.66667%;
  }
  .keroseen-grid.grid-12 .sm-portrait-5 {
    width: 41.08333%;
  }
  .keroseen-grid.grid-12 .sm-portrait-6 {
    width: 49.5%;
  }
  .keroseen-grid.grid-12 .sm-portrait-7 {
    width: 57.91667%;
  }
  .keroseen-grid.grid-12 .sm-portrait-8 {
    width: 66.33333%;
  }
  .keroseen-grid.grid-12 .sm-portrait-9 {
    width: 74.75%;
  }
  .keroseen-grid.grid-12 .sm-portrait-10 {
    width: 83.16667%;
  }
  .keroseen-grid.grid-12 .sm-portrait-11 {
    width: 91.58333%;
  }
  .keroseen-grid.grid-12 .sm-portrait-12 {
    width: 100%;
  }
}
.keroseen-grid .centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#l-site-header {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  background-color: #069;
  color: #fff;
  padding: 0.75rem;
}
#l-site-header span {
  font-size: 2rem;
  font-weight: bold;
}

#l-top-nav {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  background-color: #000;
  color: #fff;
}
#l-top-nav a {
  color: #eee;
  text-decoration: none;
  font-weight: bold;
}
#l-top-nav a:hover, #l-top-nav a:focus {
  text-decoration: underline;
}

main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  background-color: #fff;
  color: #666;
}

#l-site-footer {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  background-color: #036;
  color: #fff;
}
#l-site-footer:before, #l-site-footer:after {
  content: " ";
  display: table;
}
#l-site-footer:after {
  clear: both;
}
#l-site-footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
#l-site-footer a:hover, #l-site-footer a:focus {
  text-decoration: underline;
}
#l-site-footer div {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 1rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-horizontal li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.footer-nav {
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding: 1rem;
}

/*# sourceMappingURL=demo.css.map */
